<% include ../partial-pages/master.ejs %>
<main>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                  <input id="inpKullaniciKodu" style="display:none;" value="<%=session.kullanici.kullaniciKodu%>">
                   <div class="row">
                        <div class="input-field col m12">
                              <input id="inpIcerikListeAdi" type="text" class="validate" placeholder="İçerik Listesi Adı">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6 offset-m3 no-padding">
                            <div class="card-panel">
                                      <div class="">
                                          <table class="">
                                                <tbody>
                                                    <tr>
                                                        <td class="center-align">
                                                            <div class="" style="padding:0">
                                                                <div class="" style="padding:0">
                                                                    <div class="card-image">
                                                                        <img id="imgUstResim" width="100%" height="130px;" class="materialboxed" src="/images/default.png">
                                                                    </div>
                                                                    <div class="card-action ">
                                                                        <a href="Javascript:void(0)" class="ustResimSil" style="color:red">Sil</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                  </div>
                        </div>
                    </div>
                    <div class="col m12 no-padding">
                        <form id="formUstResim" action="/yukle/medyayukle" enctype="multipart/form-data" method="post">
                            <div class="col s11">
                                <div class="file-field input-field">
                                    <input placeholder="ürün ust resim sec" class="file-path validate ustResim" type="text"/>
                                    <input id="inpUstResim" type="file" name="medyaListesi"/>
                                </div>
                            </div>
                            <div class="col s1">
                                <div class="input-field">
                                    <button type="submit" id="btnUstResimYukle" class="btn btn-floating blue tooltipped"  data-position="top" data-delay="50" data-tooltip="Secili ogeyi yukle"><i class="mdi-file-cloud-upload"></i></button>
                                </div>
                            </div>
                          </form>
                    </div>
                    <div class="row">
                        <div class="right-align">
                            <a id="btnEkle" class="waves-effect waves-light btn">Ekle</a>
                            <a id="btnGuncelle" style="display:none;" class="waves-effect waves-light btn">Güncelle</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <table class="bordered fiyatTable">
                        <thead>
                          <tr>
                              <th data-field="id" style="width:50px;">#</th>
                              <th data-field="name">İçerik Listesi Adı</th>
                              <th data-field="name">Katalog</th>
                              <th data-field="operation" style="width:180px;">İşlemler</th>
                          </tr>
                        </thead>

                        <tbody>
                           <%for(var i=0;i<fiyatListesi.length;i++){%>
                               <tr id="<%=fiyatListesi[i]._id%>">
                                <td><%=i+1%></td>
                                <td><%=fiyatListesi[i].icerikListeAdi%></td>
                                <td>
                                    <img class="responsive-img materialboxed" width="50px" height="50px" src="<%=fiyatListesi[i].ustResim%>" style="height:50px; width:50px;">
                                </td>
                                <td id="<%=fiyatListesi[i]._id%>">
                                    <button class="btn btn-floating red tooltipped sil"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                    <button class="btn btn-floating green tooltipped guncelle"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                </td>
                            </tr>
                           <%}%>
                        </tbody>
                    </table>
              </div>

            </div>
        </div>
    </div>
</main>
<% include ../js/lib-js/masterPageScripts.js %>
<script src="../js/lib-js/fiyat.js"></script>
