<% include ../partial-pages/master.ejs %>
<main>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4"><a  class="active belge" href="#belge">Belge ve Sertifikalar</a></li>
                <li class="tab col s4"><a class="kvideo" href="#video">Kurumsal Video</a></li>
                <li class="tab col s4"><a class="kfoto" href="#foto">Kurumsal Foto Galeri</a></li>
            </ul>
        </div>
    </div>
    <div id="belge" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                           <div class="row">
                                <div class="input-field col s12">
                                     <input id="inpKullaniciKodu" style="display:none;" value="<%=session.kullanici.kullaniciKodu%>">
                                      <input id="inpBelgeAdi" type="text" class="validate" placeholder="Belge adı">
                                </div>
                            </div>
                    <div class="row">
                        <div class="col m6 offset-m3 no-padding">
                            <div class="card-panel">
                                      <div class="">
                                          <table class="">
                                                <tbody>
                                                    <tr>
                                                        <td class="center-align">
                                                            <div class="" style="padding:0">
                                                                <div class="" style="padding:0">
                                                                    <div class="card-image">
                                                                        <img id="imgUstResim" width="100%" height="130px;" class="materialboxed" src="/images/default.png">
                                                                    </div>
                                                                    <div class="card-action ">
                                                                        <a href="Javascript:void(0)" class="ustResimSil" style="color:red">Sil</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                  </div>
                        </div>
                    </div>
                    <div class="col m12 no-padding">
                        <form id="formUstResim" action="/yukle/medyayukle" enctype="multipart/form-data" method="post">
                            <div class="col s11">
                                <div class="file-field input-field">
                                    <input placeholder="ürün ust resim sec" class="file-path validate ustResim" type="text"/>
                                    <input id="inpUstResim" type="file" name="medyaListesi"/>
                                </div>
                            </div>
                            <div class="col s1">
                                <div class="input-field">
                                    <button type="submit" id="btnUstResimYukle" class="btn btn-floating blue tooltipped"  data-position="top" data-delay="50" data-tooltip="Secili ogeyi yukle"><i class="mdi-file-cloud-upload"></i></button>
                                </div>
                            </div>
                          </form>
                    </div>
                            <div class="row">
                                <div class="right-align">
                                    <a id="btnEkle" class="waves-effect waves-light btn">Ekle</a>
                                    <a id="btnGuncelle" style="display:none;" class="waves-effect waves-light btn">Güncelle</a>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered sertifikalarTable">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Belge Adı</th>
                                  <th data-field="item_name">Görsel</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                                <%for(var i=0;i<belgeVeSertifikalar.length;i++){%>
                               <tr id="<%=belgeVeSertifikalar[i]._id%>">
                                <td><%=i+1%></td>
                                <td><%=belgeVeSertifikalar[i].belgeAdi%></td>
                                <td>
                                    <img class="responsive-img materialboxed" width="50px" height="50px" src="<%=belgeVeSertifikalar[i].ustResim%>" style="height:50px; width:50px;">
                                </td>
                                <td id="<%=belgeVeSertifikalar[i]._id%>">
                                    <button class="btn btn-floating red tooltipped sil"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                    <button class="btn btn-floating green tooltipped guncelle"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                </td>
                            </tr>
                           <%}%>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="video" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                           <div class="row">
                                <div class="input-field col s12">
                                      <input id="inpVideoAdi" type="text" class="validate" placeholder="Video adı">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                      <input id="inpVideoLinki" type="text" class="validate" placeholder="Youtube embed linki">
                                </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <a id="btnKVEkle" class="waves-effect waves-light btn">Ekle</a>
                                    <a id="btnKVGuncelle" style="display:none;" class="waves-effect waves-light btn">Güncelle</a>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered kurumsalVideoTable">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Video Adı</th>
                                  <th data-field="item_name">Youtube Linki</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                               <%for(var i=0;i<kurumsalVideo.length;i++){%>
                                   <tr id="<%=kurumsalVideo[i]._id%>">
                                    <td><%=i+1%></td>
                                    <td><%=kurumsalVideo[i].videoAdi%></td>
                                    <td><%=kurumsalVideo[i].videoLinki%></td>
                                    <td id="<%=kurumsalVideo[i]._id%>">
                                        <button class="btn btn-floating red tooltipped sil"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                        <button class="btn btn-floating green tooltipped guncelle"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                    </td>
                                </tr>
                               <%}%>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="foto" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                           <div class="row">
                                <div class="input-field col s12">
                                      <input id="inpGaleriAdi" type="text" class="validate" placeholder="Foto adı">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12 no-padding">
                  <div class="card-panel">
                      <div class="">
                          <table class="">
                                <tbody id="tabloGaleri">
                                    <tr>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim0" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil0" href="Javascript:void(0)" class="resimSil" style="color:red">Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim1" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil1" href="Javascript:void(0)" class="resimSil" style="color:red">Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim2" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil2" href="Javascript:void(0)" class="resimSil" style="color:red">Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim3" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil3" href="Javascript:void(0)" class="resimSil" style="color:red">Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12 no-padding">
                                  <form id="formMedya" action="/yukle/medyayukle" enctype="multipart/form-data" method="post">
                                    <div class="col s11">
                                        <div class="file-field input-field">
                                            <input placeholder="ürün resimleri secin" class="file-path validate resim"  type="text"/>
                                            <input id="inpMedya" type="file" name="medyaListesi" multiple/>
                                        </div>
                                    </div>
                                    <div class="col s1">
                                        <div class="input-field">
                                            <button type="submit" id="btnFotoYukle" class="btn btn-floating blue tooltipped"  data-position="top" data-delay="50" data-tooltip="Secili ogeyi yukle"><i class="mdi-file-cloud-upload"></i></button>
                                        </div>
                                    </div>
                                  </form>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <a id="btnKFEkle" class="waves-effect waves-light btn">Ekle</a>
                                    <a id="btnKFGuncelle" style="display:none;" class="waves-effect waves-light btn">Güncelle</a>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered kurumsalFotoGaleriTable">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Foto Adı</th>
                                  <th data-field="item_name">Görsel</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                             <%for(var i=0;i<kurumsalFotoGaleri.length;i++){%>
                               <tr id="<%=kurumsalFotoGaleri[i]._id%>">
                                <td><%=i+1%></td>
                                <td><%=kurumsalFotoGaleri[i].galeriAdi%></td>
                                <td>
                                    <div class="col s6" style="padding:0">
                                       <%for(var j=0;j<kurumsalFotoGaleri[i].galeri.length;j++){%>
                                           <div class="col s3" style="padding:0">
                                            <img class="materialboxed" width="50px" height="50px" src="<%=kurumsalFotoGaleri[i].galeri[j].resimLinki%>" style="height:50px; width:50px;">
                                        </div>
                                       <%}%>
                                    </div>
                                </td>
                                <td id="<%=kurumsalFotoGaleri[i]._id%>">
                                    <button class="btn btn-floating red tooltipped sil"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                    <button class="btn btn-floating green tooltipped guncelle"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                </td>
                            </tr>
                           <%}%>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
</main>
<% include ../js/lib-js/masterPageScripts.js %>
<script src="../js/lib-js/belgeVeSertifikalar.js"></script>
<script src="../js/lib-js/kurumsalVideo.js"></script>
<script src="../js/lib-js/kurumsalFotoGaleri.js"></script>
