<% include ../partial-pages/master.ejs %>
<main>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4 <%if(!kurumsalIzinler.iletisim.adresVeTelefonlar){%>disabled<%}%>"><a href="#adres">Adres ve Telefonlar</a></li>
                <li class="tab col s4 <%if(!kurumsalIzinler.iletisim.kroki){%>disabled<%}%>"><a class="" href="#google">Google Map Kroki</a></li>
                <li class="tab col s4 <%if(!kurumsalIzinler.iletisim.iletisimFormu){%>disabled<%}%>"><a href="#form">İletişim Formu</a></li>
            </ul>
        </div>
    </div>
    <div id="adres" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <form id="frmIletisim" class="col s12" method="post" action="/iletisim/guncelle">
                          <input type="text" style="display:none;" value="<%=iletisim._id%>" name="_id">
                           <div class="row">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" placeholder="Adres" name="adres"><%=iletisim.adres%></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" class="validate" placeholder="Telefon-1" name="tel1" value="<%=iletisim.tel1%>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" class="validate" placeholder="Telefon-2" name="tel2" value="<%=iletisim.tel2%>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" class="validate" placeholder="Telefon-3" name="tel3" value="<%=iletisim.tel3%>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <button type="submit" class="waves-effect waves-light btn" <%if(!kurumsalIzinler.iletisim.adresVeTelefonlar){%>disabled<%}%>>Kaydet</button>
                                </div>
                            </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="google" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="inpLat" type="text" class="validate" placeholder="Latitude" value="<%=iletisim.latitude%>" name="latitude">
                                </div>
                                <div class="input-field col s6">
                                    <input id="inpLong" type="text" class="validate" placeholder="Longtitude" value="<%=iletisim.longtitude%>" name="longtitude">
                                </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <a id="btnGetir" class="waves-effect waves-light btn">Getir</a>
                                </div>
                            </div>
                            <div class="row">
                                <iframe id="ifrmMap" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3542737.1190984747!2d35.540471516363652!3d37.58835301703368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2s!4v1440081198158" width="100%"  height="350" frameborder="0" style="border:0"></iframe>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <button type="submit" class="waves-effect waves-light btn" <%if(!kurumsalIzinler.iletisim.kroki){%>disabled<%}%>>Ekle</button>
                                </div>
                            </div>
                        </form>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="form" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered iletisimFormlariTable">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="item_name">Ad Soyad</th>
                                  <th data-field="item_name">GSM</th>
                                  <th data-field="item_name">Mail</th>
                                  <th data-field="item_name">Konu</th>
                                  <th data-field="item_name">Detay</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                               <%for(var i=0;i<iletisimFormlari.length;i++){%>
                                   <tr id="<%=iletisimFormlari[i]._id%>">
                                       <td><%=i+1%></td>
                                       <td><%=iletisimFormlari[i].adSoyad%></td>
                                       <td><%=iletisimFormlari[i].gsm%></td>
                                       <td><%=iletisimFormlari[i].email%></td>
                                       <td><%=iletisimFormlari[i].konu%></td>
                                       <td><span class="truncate"><%=iletisimFormlari[i].detay%></span></td>
                                       <td id="<%=iletisimFormlari[i]._id%>"><button class="btn btn-floating red tooltipped sil"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button></td>
                                   </tr>
                               <%}%>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
</main>
<% include ../js/lib-js/masterPageScripts.js %>
<script src="../js/lib-js/iletisim.js"></script>
