<% include ../partial-pages/master.ejs %>
<main>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4"><a href="#oneri">Öneri İstek Şikayet</a></li>
                <li class="tab col s4"><a class="" href="#sorular">Sık Sorulan Sorular</a></li>
                <li class="tab col s4"><a href="#bilgi">Bilgi Bankası</a></li>
            </ul>
        </div>
    </div>
    <input id="inpKullaniciKodu" style="display:none;" value="<%=session.kullanici.kullaniciKodu%>">
    <div id="oneri" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered istekSikayetTable">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Form Tipi</th>
                                  <th data-field="item_name">Konu</th>
                                  <th data-field="item_name">Detay</th>
                                  <th data-field="item_name">Ad Soyad</th>
                                  <th data-field="item_name" style="width:150px;">GSM</th>
                                  <th data-field="item_name" style="width:150px;">Mail</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                               <%for(var i=0;i<istekSikayet.length;i++){%>
                                   <tr id="<%=istekSikayet[i]._id%>">
                                    <td><%=i+1%></td>
                                    <td><%=istekSikayet[i].formTipi%></td>
                                    <td><%=istekSikayet[i].konu%></td>
                                    <td><%=istekSikayet[i].detay%></td>
                                    <td><%=istekSikayet[i].adSoyad%></td>
                                    <td><%=istekSikayet[i].gsm%></td>
                                    <td><%=istekSikayet[i].email%></td>
                                    <td id="<%=istekSikayet[i]._id%>">
                                        <button class="btn btn-floating red tooltipped sil"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                    </td>
                                </tr>
                               <%}%>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="sorular" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                       <div class="row">
                            <div class="input-field col m12">
                                  <input id="inpSoru" type="text" class="validate" placeholder="Soru">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="txtCevap" class="materialize-textarea" placeholder="Cevap"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right-align">
                                <a id="btnSEkle" class="waves-effect waves-light btn">Ekle</a>
                                <a id="btnSGuncelle" style="display:none;" class="waves-effect waves-light btn">Güncelle</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered sikSorulanSorularTable">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Soru</th>
                                  <th data-field="item_name">Cevap</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                                <%for(var i=0;i<sikSorulanSorular.length;i++){%>
                                   <tr id="<%=sikSorulanSorular[i]._id%>">
                                    <td><%=i+1%></td>
                                    <td><%=sikSorulanSorular[i].soru%></td>
                                    <td><%=sikSorulanSorular[i].cevap%></td>
                                    <td id="<%=sikSorulanSorular[i]._id%>">
                                        <button class="btn btn-floating red tooltipped sil"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                        <button class="btn btn-floating green tooltipped guncelle"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                    </td>
                                </tr>
                               <%}%>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="bilgi" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col m11" style="padding:0">
                           <div class="row">
                               <div class="input-field">
                                   <select class="browser-default" id="slctHKategori">
                                          <option value="" disabled selected>Kategori Seç</option>
                                          <%for(var i=0;i<bilgiBankasiKategorileri.length;i++){%>
                                          <option data="<%=bilgiBankasiKategorileri[i]._id%>" value="<%=bilgiBankasiKategorileri[i].kategori%>"><%=bilgiBankasiKategorileri[i].kategori%></option>
                                          <%}%>
                                </select>
                               </div>
                           </div>
                       </div>
                       <div class="col m1">
                           <div class="col m6 no-padding">
                              <div class="" style="">
                                  <div class="input-field">
                                      <a id="btnHKSil" class="btn btn-floating red tooltipped "  data-position="top" data-delay="50" data-tooltip="Secili ogeyi sil"><i class="mdi-action-delete"></i></a>
                                  </div>
                              </div>

                          </div>
                          <div class="col m6 no-padding">
                              <div class="" style="">
                                  <div class="input-field">
                                      <a id="" href="#modal_bilgikategoriekle"  class="btn btn-floating green tooltipped modal-trigger"  data-position="top" data-delay="50" data-tooltip="Kategori ekle"><i class="mdi-image-exposure-plus-1"></i></a>
                                  </div>
                              </div>
                              <!--modal-->
                        <div id="modal_bilgikategoriekle" class="modal bottom-sheet">
                            <div class="modal-content">
                                <h5 class="left-align">Kategori Ekle</h5>
                                <div class="row">
                                  <div class="col m12">
                                      <div class="input-field col m10">
                                        <input id="inpHKategoriAdi" type="text" class="validate" placeholder="kategori adı">
                                      </div>
                                      <div class="input-field col m2">
                                          <a id="btnHKEkle" class="waves-effect waves-light btn" style="width:100%">Ekle</a>
                                      </div>
                                  </div>
                              </div>

                            </div>
                            <div class="modal-footer">
                              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Kapat</a>
                            </div>
                          </div>

                          </div>

                        </div>
                        <!--sdsdsd--->
                    <div class="row">
                         <div class="col m6 no-padding">
                                  <div class="card-panel">
                                      <div class="">
                                          <table class="">
                                                <tbody>
                                                    <tr>
                                                        <td class="center-align">
                                                            <div class="" style="padding:0">
                                                                <div class="" style="padding:0">
                                                                    <div class="card-image">
                                                                        <img id="imgUstResim" width="100%" height="130px;" class="materialboxed" src="/images/default.png">
                                                                    </div>
                                                                    <div class="card-action ">
                                                                        <a href="Javascript:void(0)" class="ustResimSil" style="color:red">Sil</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                  </div>
                              </div>
              <div class="col m6 ">
                  <div class="card-panel">
                      <div class="">
                          <table class="">
                                <tbody id="tabloGaleri">
                                    <tr>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim0" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil0" href="Javascript:void(0)" class="resimSil" style="color:red" >Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim1" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil1" href="Javascript:void(0)" class="resimSil" style="color:red">Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim2" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil2" href="Javascript:void(0)" class="resimSil" style="color:red">Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim3" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil3" href="Javascript:void(0)" class="resimSil" style="color:red">Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                  </div>
              </div>
         </div>
                      <div class="row">
                          <div class="col m6 no-padding">
                              <form id="formUstResim" action="/yukle/medyayukle" enctype="multipart/form-data" method="post">
                                    <div class="col s11">
                                        <div class="file-field input-field">
                                            <input placeholder="ürün ust resim sec" class="file-path validate ustResim" type="text"/>
                                            <input id="inpUstResim" type="file" name="medyaListesi"/>
                                        </div>
                                    </div>
                                    <div class="col s1">
                                        <div class="input-field">
                                            <button type="submit" id="btnUstResimYukle" class="btn btn-floating blue tooltipped"  data-position="top" data-delay="50" data-tooltip="Secili ogeyi yukle"><i class="mdi-file-cloud-upload"></i></button>
                                        </div>
                                    </div>
                                  </form>
                          </div>
                          <div class="col m6">
                              <form id="formMedya" action="/yukle/medyayukle" enctype="multipart/form-data" method="post">
                                <div class="col s11">
                                    <div class="file-field input-field">
                                        <input placeholder="ürün resimleri secin" class="file-path validate resim"  type="text"/>
                                        <input id="inpMedya" type="file" name="medyaListesi" multiple/>
                                    </div>
                                </div>
                                <div class="col s1">
                                    <div class="input-field">
                                        <button type="submit" id="btnFotoYukle" class="btn btn-floating blue tooltipped"  data-position="top" data-delay="50" data-tooltip="Secili ogeyi yukle"><i class="mdi-file-cloud-upload"></i></button>
                                    </div>
                                </div>
                              </form>
                          </div>
                      </div>
                        <!--sdsdsd--->
                        <div class="row">
                            <div class="input-field col m12">
                                  <input id="inpVideoLinki" type="text" class="validate" placeholder="Video linki">
                            </div>
                        </div>
                        <div class="row">
                            <div class="right-align">
                                <a id="btnEkle" class="waves-effect waves-light btn">Ekle</a>
                                <a id="btnGuncelle" style="display:none;" class="waves-effect waves-light btn">Güncelle</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered bilgiBankasiTable">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Kategori Adı</th>
                                  <th data-field="item_name">Üst Resim</th>
                                  <th data-field="item_name" >Video Linki</th>
                                  <th data-field="item_name" style="width:150px;">Foto Galeri</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                               <%for(var i=0;i<bilgiBankasi.length;i++){%>
                                   <tr id="<%=bilgiBankasi[i]._id%>">
                                    <td><%=i+1%></td>
                                    <td><%=bilgiBankasi[i].kategori%></td>
                                    <td>
                                        <img class="responsive-img materialboxed" width="50px" height="50px" src="<%=bilgiBankasi[i].ustResim%>" style="height:50px; width:50px;">
                                    </td>
                                    <td><%=bilgiBankasi[i].videoLinki%></td>
                                    <td>
                                        <div class="" style="padding:0">
                                           <%for(var j=0;j<bilgiBankasi[i].galeri.length;j++){%>
                                               <div class="col s3" style="padding:0">
                                                <img class="responsive-img materialboxed" width="50px" height="50px" src="<%=bilgiBankasi[i].galeri[j].resimLinki%>" style="height:50px; width:50px;">
                                            </div>
                                           <%}%>
                                        </div>
                                    </td>
                                    <td id="<%=bilgiBankasi[i]._id%>">
                                        <button class="btn btn-floating red tooltipped sil"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                        <button class="btn btn-floating green tooltipped guncelle"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                    </td>
                                </tr>
                           <%}%>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>

</main>
<% include ../js/lib-js/masterPageScripts.js %>
<script src="../js/lib-js/isSikayet.js"></script>
<script src="../js/lib-js/sikSorulanSorular.js"></script>
<script src="../js/lib-js/bilgiBankasi.js"></script>
